* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222327;

}

.navegation {
    position: relative;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.navegation ul{
    display: flex;
    width: 350px;
}

.navegation ul li{
    list-style: none;
    position: relative;    
    width: 70px;
    height: 60px;
    z-index: 2;
}

.navegation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;    
}

.navegation ul li a .icon{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;
}
.navegation ul li.active a .icon{
    transform: translateY(0);
    color: #2196F3;
}

.navegation ul li a .text{
    position: absolute;
    background: #2196F3;
    color: #FFF;
    padding: 3px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.60em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    /* opacity: 0; */
    transform: translateY(15px)
}

.navegation ul li a .text{}